#container {
  display: flex;
}

#live {
}

#header {

}

#camera {
  width: 340px;
  display:inline-block;
}

#video {
  width:320px;
  height:240px;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

#prediction {
}

.align-right {
  text-align: right;
}

.prediction-bar {
  height: 30px;
  border-radius: 5px;
  background-color: hsl(169, 100%, 43%);
}

#graphImg {
  height: 600px;
  width: auto;
  max-height: 100%;
}

#canvas {
  display:none;
}