body {
  padding: 30px;
  font-family: "Lab Grotesque", sans-serif;
}

.header {
  font-size: 26px;
}
.subheader {
  font-size: 18px;
}

#container {
  display: flex;
}

#title {
  margin-bottom: 30px;
}

#url {
  width: 282px;
}

#camera {
  width: 340px;
  display: inline-block;
  margin-top: 15px;
}

#video {
  width: 320px;
  height: 240px;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
#predictionHeader {
  margin-top: 15px;
}

#prediction {
  margin-top: 5px;
  padding: 0;
  color: hsl(0, 0%, 30%);
}

td {
  padding-bottom: 8px;
}

.percent {
  text-align: right;
  width: 50px;
  padding-right: 10px;
}

.prediction-bar {
  height: 30px;
  border-radius: 10px;
  background-color: hsl(169, 100%, 43%);
}

#graphImg {
  height: 600px;
  width: auto;
  max-height: 100%;
}

#canvas {
  display:none;
}