body {
  padding: 30px;
  font-family: "Lab Grotesque", sans-serif;
}

#container {
  display: flex;
}

#live {
}

#header {

}

#url {
  width: 282px;
}

#camera {
  width: 340px;
  display: inline-block;
  margin-top: 30px;
}

#video {
  width: 320px;
  height: 240px;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

#prediction {
}

.percent {
  text-align: right;
  width: 50px;
}

.prediction-bar {
  height: 30px;
  border-radius: 10px;
  background-color: hsl(169, 100%, 43%);
}

#graphImg {
  height: 600px;
  width: auto;
  max-height: 100%;
}

#canvas {
  display:none;
}